@charset "UTF-8";
@import url("style.css");


.visual{
	margin-top: 46px;
	height: 200px;
	background: url("../images/visual-sm.png") no-repeat center;
	background-size: cover;	/* 빈부분을 일단 다 채워라 */
}
.notepubs{
	padding: 0px 20px;
}

	.notepubs li{
		margin-top: 10px;
	}
	
	.notepubs h1,
	.notepubs h2{
		font-family: "NanumGothic", "Malgun Gothic", "DotumChe", sans-serif;
	}
	
	.notepubs h1{
		font-size: 24px;
		line-height: 34px;
		padding-left: 24px;
		background: url("../images/ic_book_black_24dp_1x.png") no-repeat left center;
	}
	
	.notepubs h2{
		font-size: 14px;
		line-height: 24px;
		font-weight: normal;
	}
	
	.notepubs img{
		width: 100%;
	}
	
/*--------------------------------------*/
.shutter{
	
}
	.shutter-button-box{
		text-align: center;
		height: 0px;
	}
		.shutter-button-box > span{
			position: relative;
			top: -30px;
			overflow: hidden;
			text-indent: -999px;
			display: inline-block;
			width: 60px;
			height: 60px;
			border-radius: 30px;
			background: rgb(67,107,67) url("../images/ic_expand_less_black_24dp_1x.png") no-repeat center;
		}
	
/*--------------------------------------*/
	
.category{
	
}
	.category>ul{
		padding-bottom: 25px;
	}
		.category>ul>li{
			position: relative;
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 25px;
			border: 1px solid #999999;
			text-align: center;
		}
			.category>ul>li>a{
				position: relative;
				bottom: -50px;
				font-size: 12px;
				text-decoration: none;
				color: #000;
			}

.category-views{
	position: relative;
}

	.category-views > section{
		/* background: #fff; */
		position: absolute;
		top: 0px;
		width: 100%;
		border: 1px solid red;
	}

	.category-views .show{
		right: 300px;
		/* position: absolute;
		top: 0px;
		width: 100%;
		box-sizing: border-box; */
		/* transition: 0.3s; */
	}
	
	.category-view .hide{
		position: absolute;
		z-index: -1;
	}










